@font-face {
    font-family: 'Gotham-500';
    src: url('../font/GothamMedium.woff2') format('woff2'),
        url('../font/GothamMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../font/Gotham-Bold.woff2') format('woff2'),
        url('../font/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Book.woff2') format('woff2'),
        url('../font/Gotham-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
/* Typography */
h1 {
	font-size: 80px;
}
h2 {
	font-size: 44px;
}
a,
input[type="submit"],
input[type="button"],
button{
	text-decoration: none;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	color: $color-title-black;
	text-transform: uppercase;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	color: $color-title-black;
	text-transform: uppercase;
	border: 1px solid $color-title-black;
	padding: 13px 40px;
	display: inline-block;
	&:hover{
		color: red;
		background-color: $color-title-black;
	}
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	&:focus{
		
	}
}

textarea {

}
